[Desktop Entry]
Name=Tusk
Comment=Refined Evernote desktop app
Exec="/opt/Tusk/tusk" %U
Terminal=false
Type=Application
Icon=tusk
Categories=Productivity;
